body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    background: url('../Images/DjanamBackground.jpeg') center/cover no-repeat fixed;
    color: #fff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px 0;
}

.navbar-brand {
    font-size: 1.8rem;
    color: #e84a5f;
    display: flex;
    align-items: center;
    font-family: 'Lora', serif;
}

.navbar-brand img {
    margin-right: 10px;
    max-height: 50px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity as needed */
}

.form-container {
    max-width: 600px;
    margin: 7% auto; /* Adjust the percentage to move the form down */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center-align the content in the form container */
    padding-top: 80px; /* Подреждане на контейнера под навигационното меню */
}

.booking-form form {
    text-align: center;
}

.booking-form h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #e84a5f !important;
    background-color: rgba(0, 0, 0, 0.6); /* Add this line to set the background color */
    padding: 10px; /* Add padding to enhance visibility */
}


.inputbox {
    position: relative;
    margin-bottom: 20px;
}

.inputbox ion-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #e84a5f;
    background-color: rgba(0, 0, 0, 0.6); /* Background color for icons */
    padding: 10px; /* Padding for icons */
    border-radius: 5px; /* Border radius for icons */
}
input,
select {
    width: 100%;
    padding: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    border: 1px solid #fff; /* Change border color to match the login page */
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #fff;
}

input::placeholder,
select::placeholder {
    color: #e1e1e1;
}

button {
    background-color: #e84a5f;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px; /* Adjust the margin to move the button up */
}

button:hover {
    background-color: #d43f54;
}
